- if answer.persisted?
  li = answer.body
  - if user_signed_in? && current_user.author_of?(answer) && !answer.new_record?
    = link_to "Destroy answer", answer_path(answer), method: :delete, data: { confirm: 'Are you sure?' }